@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
}

body{
  background-color: #F5F0BB;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body .container{
  width: 700px;
  background-color: #90C8AC;
  border-radius: 40px;
  box-shadow: 1px -3px 50px 5px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.header{
 width: 100%;
 background-color: #73A9AD;
 border-radius: 40px 40px 0 0;
 display: flex;
 align-items: center;
 justify-content: center;
}

.hName{
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
  margin: 10px;
}

.container {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
  animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.type{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.type .cards{
  display: flex;
  gap: 20px;
}

.type .cards div{
  width: 150px;
  height: 150px;
  background-color: #73A9AD;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  transition: all 0.5s;
}

.type .cards div:hover{
  box-shadow: 1px 0px 10px 2px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.year{
  margin: 30px;
  display: flex;
  align-items: center;
  gap: 40px;
}

 label{
  font-weight: 700;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.year select{
  width: 400px;
  height: 30px;
  text-align: center;
  background-color: #73A9AD;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
  border-radius: 10px;
  cursor: pointer;
}

.year select option{
  font-weight: 700;
  color: white;
}

.plan{
  display: flex;
  align-items: center;
  gap: 40px;
}

.plan div{
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.plan div label{
  cursor: pointer;
}

.boton {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 50px; 
}

.boton button{
  width: 50%;
  height: 50px;
  background-color: #73A9AD;
  border: 1px solid grey;
  border-radius: 10px;
  transition: all 0.5s;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
  cursor: pointer;
}

.boton button:hover{
  box-shadow: 1px 0px 10px 2px rgba(0, 0, 0, 0.75);
}

footer{
  width: 100%;
  background-color: #73A9AD;
  border-radius: 0 0 40px 40px;
}

footer .content{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  align-items: center;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
  font-size: 0.8em;
  margin: 20px;
  text-align: center;
}

footer .content h5{
  text-align: center;
  font-size: 10px;
}

.car-active {
  transform: scale(1.1);
  box-shadow: 1px 0px 10px 2px rgba(0, 0, 0, 0.75);
}